body{
   font-family: 'Dancing Script', cursive;
}
.alert-container {
    
}

.features-container {
    
}

.callout-container {
    height: 100vh;
    position: relative;
  background: url("Images/whiskey image.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.quotes-container {
    
}

.opaque-overlay {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}
/* Jumbotron */

.jumbotron {
    background-color: transparent;
}
.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
.jumbotron small {
    font-size: 90%;
    font-style: inherit;
    color: #a29a9a;
}

.jumbotron .lead {
    color: #bcbfca;
}
.block-separator {
    border: 0;
    width: 35px;
    height: 5px;
}
.block-separator--red {
    background-color: #ab1020;
}
.block-separator--short {
    width: 17px;

}
/*buttons*/

btn--cta {
    font-weight: bold;
    border-radius: 25px;
    width: 180px;
}

btn--green {
    color: white;
    background-color: #28a745;
    border-color: #28a745;
}
