body{
   font-family: 'Dancing Script', cursive;
}
.alert-container {
    
}

.features-container {
    
}

.callout-container {
    height: 100vh;
    
  background: url("Images/whiskey-image.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.quotes-container {
    
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}
.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
.jumbotron small {
    font-size: 90%;
    font-style: inherit;
    color: #a29a9a;
}

.jumbotron .lead {
    color: #bcbfca;
}
.block-separator {
    border: 0;
    width: 35px;
    height: 5px;
    background-color: #ab1020;
}