body {
    font-family: 'Dancing Script', cursive;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.link-navbar {
    color: #f5f7f5;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    color: #dcbb5b;
    background-color: #271e01;
    border-color: #271e01;
}

.page-header {
    margin-bottom: 0px;
    border-bottom: 0px;
    text-align: center;
}

.page-header h2 {
    margin-top: 0px;
    text-align: center;
}

.quotes .page-header {
    margin-bottom: 20px;
}
.features-container {}

.callout-container {
    height: 100vh;
    position: relative;
    background: url("Images/whiskey image.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

}

.quotes-container {}

.opaque-overlay {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small {
    font-size: 90%;
    font-style: inherit;
    color: #a29a9a;
}

.jumbotron .lead {
    color: #bcbfca;
}

.block-separator {
    border: 0;
    width: 35px;
    height: 5px;
    background-color: #444;
}

.block-separator--red {
    background-color: #ab1020;
}

.block-separator--short {
    width: 17px;

}

.block-separator--white {
    background-color: white;
}

/* Context Wrappers */

.container-wrapper {}

.container-wrapper--green {
    background-color: #09581b;
    color: white;
}

/* Content Containers */

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar .navbar-nav a {
    font-weight: bold;
    color: #f5f7f5;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: normal;
    font-family: cursive;
}

.navbar
/*buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 25px;
    width: 150px;
}

.btn--green {
    color: white;
    border-radius: 45%;
    background-color: #09581b;
    border-color: #09581b;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    background-color: #022d0b;
    border-color: #022d0b;
}

.feature {
    margin-bottom: 40px;
    text-align: center;
}

.feature i {
    margin-bottom: 20px;
    line-height: 45px;
    font-size: 45px;
}

.feature .btn {
    margin-top: 10px;
    color: #09581b;
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;

}
